src/main/mule/git-push-manual.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6b4797d8-1fcb-4595-a732-b17d6de22e6c" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="jenkins-cicd-demoFlow" doc:id="e52c4c18-ef4e-4224-b007-aff828f2ab70" >
		<http:listener doc:name="Listener" doc:id="ef8c237a-2c55-45ff-a010-f1614f4a7682" config-ref="HTTP_Listener_config" path="/jenkins-cicd-demo"/>
		<ee:transform doc:name="Transform Message" doc:id="65016ef8-c824-4813-b774-907fa4303e81" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Hello":"Hemsagar"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ae0d110d-39bd-4769-9b2d-f12327d789e8" message="#[payload]"/>
	</flow>
</mule>

